body {
    width: 500px;
    height: 500px;
    background: rgba(156, 150, 27, 0.55);
}

.wrapper {
    margin-right: 30px;
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

.wrapper input {
    display: block;
}

.spanText {
    font-weight: 700;
}

.spanText1 {
    color: red;
}